@model AllMovieQueryModel

@{ ViewData["Title"] = "Search"; }

<div class="mb-5"></div>

<form method="get" class="form-inline">
    <div class="form-group">
        <input asp-for="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search by title, character, or genre" aria-label="Search" size="100">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </div>
</form>

<div class="mb-5"></div>

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-md-4">
            <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.MovieId" class="hvr-shutter-out-horizontal">
                <div class="card mb-4">
                    <img class="card-img-top" src="@movie.ImageUrl" alt="@movie.Title @movie.Country (@movie.Year)">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>