@model MovieFormModel

@{ ViewData["Title"] = "Add Movie"; }


<!-- page title -->
<section class="section section--first section--bg" data-bg="~/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Add Movie</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Add Movie</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- faq -->
<section class="section">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
            <form method="post" class="sign__form">

                <a href="index.html" class="sign__logo">
                    <img src="~/img/logo.svg" alt="">
                </a>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="sign__group">
                    <label class="fontsColor" asp-for="Title">Title</label>
                    <input asp-for="Title" class="addMovieInput" placeholder="Fast & Furious 9,Transformers – Die Rache...">
                    <div>
                        <span asp-validation-for="Title" class="small text-danger" style="color:red"></span>
                    </div>

                </div>
                <div class="sign__group">
                    <button type="button" class="addMovieBtn" id="addDirector"><i class="fas fa-plus"></i></button>
                    <label class="fontsColor" for="DirectorFirstName">Director First Name</label>
                    <input type="text" class="addMovieInput" id="DirectorFirstName" placeholder="First name">

                    <label class="fontsColor" asp="DirectorLastName">Director Last Name</label>
                    <input type="text" class="addMovieInput" id="DirectorLastName" placeholder="Last name">
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="Directors"></label>
                    <textarea asp-for="Directors" class="addMovieInput" rows="3" id="directorTextArea" required></textarea>
                    <span asp-validation-for="Directors" class="small text-danger"></span>
                </div>


                <div class="sign__group">
                    <label class="fontsColor" for="ActorFirstName">Actor name</label>
                    <input type="text" class="addMovieInput" id="ActorFirstAndLastName" placeholder="First and last name">
                </div>

                <button type="button" class="addMovieBtn" id="addActor"><i class="fas fa-plus"></i></button>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="Actors"></label>
                    <textarea asp-for="Actors" rows="3" class="addMovieInput" id="ActorTextArea" required></textarea>
                    <span asp-validation-for="Actors" class="small text-danger"></span>
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="Year"></label>
                    <input asp-for="Year" class="addMovieInput" placeholder="@DateTime.UtcNow.Year">
                    <div><span asp-validation-for="Year" class="small text-danger" style="color:red"></span></div>
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="addMovieInput" placeholder="www.www/...">
                    <div><span asp-validation-for="ImageUrl" class="small text-danger" style="color:red"></span></div>
                </div>
                <div class="sign__group">
                    <label class="fontsColor" asp-for="WatchUrl"></label>
                    <input asp-for="WatchUrl" class="addMovieInput" placeholder="www.www/...">
                    <div><span asp-validation-for="WatchUrl" class="small text-danger" style="color:red"></span></div>
                </div>
                <div class="sign__group">
                    <label class="fontsColor" asp-for="AgeLimit"></label>
                    <input asp-for="AgeLimit" class="addMovieInput" placeholder="18">
                    <div><span asp-validation-for="AgeLimit" class="small text-danger" style="color:red"></span></div>
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="Country"></label>
                    <input asp-for="Country" class="addMovieInput" placeholder="Bulgaria,USA,Germany...">
                    <div><span asp-validation-for="Country" class="small text-danger" style="color:red"></span></div>
                </div>
                <div class="sign__group">
                    <label class="fontsColor" asp-for="Duration"></label>
                    <input asp-for="Duration" class="addMovieInput" placeholder="180">
                    <div><span asp-validation-for="Duration" class="small text-danger" style="color:red"></span></div>
                </div>
                <div class="sign__group">
                    <label class="fontsColor" asp-for="GenreId"></label>
                    <select asp-for="GenreId" class="addMovieInput">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.GenreId">@genre.GenreName</option>
                        }
                    </select>
                    <div><span asp-validation-for="GenreId" class="small text-danger" style="color:red"></span></div>
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="QualityId"></label>
                    <select asp-for="QualityId" class="addMovieInput">
                        @foreach (var quality in Model.Qualities)
                        {
                            <option value="@quality.QualityId">@quality.Name</option>
                        }
                    </select>
                    <div><span asp-validation-for="QualityId" class="small text-danger" style="color:red"></span></div>
                </div>

                <div class="sign__group">
                    <label class="fontsColor" asp-for="Descriptions"></label>
                    <textarea asp-for="Descriptions" rows="5" class="addMovieInput" placeholder="Descriptions...."></textarea>
                    <div><span asp-validation-for="Descriptions" class="small text-danger" style="color:red"></span></div>
                </div>
                <input class="sign__btn" type="submit" value="Save" />
            </form>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

    let addDirectorButton = document.querySelector('#addDirector');
    let addActorButton = document.querySelector('#addActor');
    const directorFullNames = [];
    const ActorFullNames = [];

    let addDirector = addDirectorButton.addEventListener('click', (e) => {
        e.preventDefault();

        let directorImput = document.querySelector('#DirectorFirstAndLastName');
        let directorTextArea = document.querySelector('#directorTextArea');
        const names = directorImput.value.split(' ');
        const fullName = `${names[0]} ${names[1]}`;
        directorFullNames.push(fullName);

        let text = directorFullNames.join(" , ");

        directorTextArea.innerHTML = text;

        directorImput.value = ``;
    });

    let addActor = addActorButton.addEventListener('click', (e) => {
        e.preventDefault();

        let actorImput = document.querySelector('#ActorFirstAndLastName');
        let actorTextArea = document.querySelector('#ActorTextArea');
        const names = actorImput.value.split(' ');
        const fullName = `${names[0]} ${names[1]}`;
        ActorFullNames.push(fullName);

        let text = ActorFullNames.join(" , ");

        actorTextArea.innerHTML = text;

        actorImput.value = ``;
    });
</script>


