@model AllMovieQueryModel

@{
    ViewBag.Title = "All Movies";
}

<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Catalog list</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Catalog list</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filter__content">
                    <!-- header search -->
                    <form method="get" class="header__search">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="header__search-content">
                                        <input asp-for="SearchTerm" type="search"
                                               placeholder="Search by title, character, or genre" />
                                        <button type="submit">search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end header search -->
                    <!-- end filter btn -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->
<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <!-- card -->
            @foreach (var movie in Model.Movies)
            {
                <div class="col-6 col-sm-12 col-lg-6">
                    <div class="card card--list">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="card__cover">
                                    <img src="@movie.ImageUrl" alt="">
                                    <a href="@movie.WatchUrl" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="card__content">
                                    <h3 class="card__title"><a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.MovieId">@movie.Title</a></h3>
                                    <span class="card__category">
                                        <a href="#">@movie.Genre</a>
                                    </span>

                                    <div class="card__wrap">
                                        <span class="card__rate"><i class="icon ion-ios-star"></i>@movie.Rate</span>

                                        <ul class="card__list">
                                            <li>@movie.Quality</li>
                                            <li>@movie.AgeLimit</li>
                                        </ul>
                                    </div>

                                    <div class="card__description">
                                        <p>
                                            @movie.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- end card -->
            <!-- paginator -->
            <div class="col-12">
                <ul class="paginator paginator--list">
                    <li class="paginator__item paginator__item--prev" style="@(Model.HasPreviosPage ? string.Empty : "pointer-events: none")">
                        <a asp-controller="Movie"
                           asp-action="All"
                           asp-route-Id="@Model.PreviosPageNumber"><i class="icon ion-ios-arrow-back"></i></a>
                    </li>
                    <li class="paginator__item paginator__item--active">
                        <a asp-controller="Movie" asp-action="All" asp-route-Id="@Model.CurrentPage">@Model.CurrentPage</a>
                    </li>
                    <li class="paginator__item paginator__item--next" style="@(Model.HasNextPage ? string.Empty : "pointer-events: none")">
                        <a asp-controller="Movie"
                           asp-action="All"
                           asp-route-Id="@Model.NextPageNumber"><i class="icon ion-ios-arrow-forward"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->