@model MovieDetailsServiceModel
<!-- details -->
<section class="section details">
    <!-- details background -->
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <!-- end details background -->
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">@Model.Title</h1>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="@Model.ImageUrl" alt="">
                            </div>
                        </div>
                        <!-- end card cover -->
                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <div class="card__wrap">
                                    <span class="card__rate" id="voteCount">@Model.VotesCount<i class="icon ion-ios-star"></i></span>
                                    <ul class="card__list">
                                        <li>@Model.Year</li>
                                        <li>@Model.Quality</li>
                                        <li>@Model.AgeLimit+</li>
                                        <li>
                                            <button type="button" style="color:hotpink" id="addtoList"
                                                    onclick="addToMyList(@Model.MovieId)">
                                                <i class="fas fa-plus-circle"></i> Add
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <ul class="card__meta">
                                    <li><span>Director:</span> @Model.Directors</li>
                                    <li><span>Cast:</span> @Model.Actors</li>
                                    <li>
                                        <span>Genre:</span>
                                        <a href="#">@Model.Genre</a>
                                    </li>
                                    <li><span>Running time:</span> @Model.Duration min</li>
                                    <li><span>Country:</span> <a href="#">@Model.Country</a> </li>
                                </ul>

                                <div class="card__description card__description--details">
                                    @Model.Description
                                </div>
                            </div>
                            <div class="vote">
                                <button onclick="sendVote(@Model.MovieId, true)" type="button" style="color:hotpink">
                                    <i class="fa fa-thumbs-up fa-3"></i>
                                </button>
                                <button onclick="sendVote(@Model.MovieId, false)" type="button" style="color:hotpink">
                                    <i class="fa fa-thumbs-down fa-3"></i>
                                </button>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- player -->
            <div class="col-12 col-xl-6">
                <video controls id="player">
                    @*Video files*@
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4" size="1440">

                    @*Caption files*@
                    <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                           default>
                    <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

                    @*Fallback for browsers that don't support the <video> element*@
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
            <!-- end player -->
            <div class="col-12">
                <div class="details__wrap">
                    <!-- availables -->
                    <div class="details__devices">
                        <span class="details__devices-title">Available on devices:</span>
                        <ul class="details__devices-list">
                            <li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
                            <li><i class="icon ion-logo-android"></i><span>Android</span></li>
                            <li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
                            <li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
                        </ul>
                    </div>
                    <!-- end availables -->
                    <!-- share -->
                    <div class="details__share">
                        <span class="details__share-title">Share with friends:</span>
                        <ul class="details__share-list">
                            <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                            <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                            <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                            <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                        </ul>
                    </div>
                    <!-- end share -->
                </div>
            </div>
        </div>
    </div>
    <!-- end details content -->
</section>
<!-- end details -->

<script>

    function addToMyList(movieId) {
        $.ajax({
            url: 'https://localhost:44389/api/mymovies',
            type: "POST",
            data: JSON.stringify({ "movieId": movieId }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log(data.userId);
                $('#addtoList').html('<i class= "fas fa-check" ></i> Remove');
            },
        });
    }


    function sendVote(movieId, vote) {
        $.ajax({
            url: 'https://localhost:44389/api/votes',
            type: "POST",
            data: JSON.stringify({ "movieId": movieId, "isUpVote": vote }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                $('#voteCount').html(data.votesCount + '<i class= "icon ion-ios-star" ></i>');
            },
        });

        //fetch("https://localhost:44389/api/votes", {
        //    method: "post",
        //    headers: {
        //        'Accept': 'application/json',
        //        'Content-Type': 'application/json'
        //    },

        //    body: JSON.stringify({ "movieId": movieId, "isUpVote": vote })
        //})
        //    .then((res) => res.json())
        //    .then(result => {
        //        console.log('Success:', result.votesCount);
        //    });

    }

    //function arata_ascunde(button) {
    //    var x = $('#showhide');
    //    $(button).find('i').remove();
    //    if ($(button).text().trim() == 'Add') {
    //        $(button).html($('<i/>', { class: 'fas fa-check' })).append(' Remove');
    //        x.fadeIn();
    //    }
    //    else {
    //        $(button).html($('<i/>', { class: 'fas fa-plus-circle' })).append(' Add');
    //        x.fadeOut();
    //    }
    //}

</script>