
<div class="card__cover">
    <img src="@Model.ImageUrl" alt="" />
    <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@Model.MovieId" class="card__play">
        <i class="far fa-play-circle"></i>
    </a>
</div>
<div class="card__content">
    <h3 class="card__title">
        <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@Model.MovieId">@Model.Title</a>
    </h3>
    <span class="card__category">
        <a href="#">@Model.Genre</a>
    </span>
    <span class="card__rate"><i class="fas fa-star"></i>@Model.VotesCount</span>
</div>