<div class="col-12">
    <ul class="paginator paginator--list">
        <li class="paginator__item paginator__item--prev" style="@(Model.HasPreviosPage ? string.Empty : "pointer-events: none")">
            <a asp-controller="Movie"
               asp-action="All"
               asp-route-Id="@Model.PreviosPageNumber"><i class="icon ion-ios-arrow-back"></i></a>
        </li>
        <li class="paginator__item paginator__item--active">
            <a asp-controller="Movie" asp-action="All" asp-route-Id="@Model.CurrentPage">@Model.CurrentPage</a>
        </li>
        <li class="paginator__item paginator__item--next" style="@(Model.HasNextPage ? string.Empty : "pointer-events: none")">
            <a asp-controller="Movie"
               asp-action="All"
               asp-route-Id="@Model.NextPageNumber"><i class="icon ion-ios-arrow-forward"></i></a>
        </li>
    </ul>
</div>
