@model AllMovieQueryModel

@{ ViewBag.Title = "My Movie";
    ViewBag.AllowMovieEdit = true; }


<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">My list</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">My list</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!-- end page title --><!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <!-- card -->
            @foreach (var movie in Model.Movies)
            {
                <div class="col-6 col-sm-12 col-lg-6">
                    <div class="card card--list">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="card__cover">
                                    <img src="@movie.ImageUrl" alt="">
                                    <a href="@movie.WatchUrl" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="card__content">
                                    <h3 class="card__title"><a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.MovieId">@movie.Title</a></h3>
                                    <span class="card__category">
                                        <a href="#">@movie.Genre</a>
                                    </span>

                                    <div class="card__wrap">
                                        <span class="card__rate"><i class="icon ion-ios-star"></i>@movie.Rate</span>

                                        <ul class="card__list">
                                            <li>@movie.Quality</li>
                                            <li>@movie.AgeLimit</li>
                                        </ul>
                                    </div>

                                    <div class="card__description">
                                        <p>
                                            @movie.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- end card -->
            <!-- paginator -->
            @{
                var maxPage = Math.Ceiling((double)Model.TotalMovies / AllMovieQueryModel.MoviesPerPage);

                var previousPage = Model.CurrentPage - 1;

                var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                 !Model.Movies.Any();
                var nextPage = (Model.CurrentPage + 1);
            }

            <div class="col-12">
                <ul class="paginator paginator--list">
                    <li class="paginator__item paginator__item--prev @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                        <a asp-controller="Movie"
                           asp-action="All"
                           asp-route-currentPage="@previousPage"><i class="icon ion-ios-arrow-back"></i></a>
                    </li>
                    @for (int i = 1; i <= maxPage; i++)
                    {
                        var active = i == Model.CurrentPage ? "paginator__item--active" : string.Empty;
                        <li class="paginator__item @active">
                            <a asp-controller="Movie" asp-action="All" asp-route-currentPage="@i">@i</a>
                        </li>
                    }
                    <li class="paginator__item paginator__item--next  @(shouldButtonBeDisabled ? "disabled" : string.Empty)">
                        <a asp-controller="Movie"
                           asp-action="All"
                           asp-route-currentPage="@nextPage"><i class="icon ion-ios-arrow-forward"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->
@*<div class="row">
        @foreach (var movie in Model.Movies)
        {
            <div class="col-md-4">
                <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.MovieId" class="hvr-shutter-out-horizontal">
                    <div class="card mb-4">
                        <img class="card-img-top" src="@movie.ImageUrl" alt="@movie.Title @movie.Country (@movie.Year)">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                        </div>
                    </div>
                </a>
                <a asp-controller="MyMovie" asp-action="Edit" asp-route-id="@movie.MovieId" class="btn btn-warning">Edit</a>
                <a asp-controller="MyMovie" asp-action="Delete" asp-route-id="@movie.MovieId" class="btn btn-danger">Delete</a>
            </div>}
    </div>

    @if (!Model.Movies.Any())
    {
        <div class="jumbotron">
            <h1 class="display-4">You haven't added movies!</h1>
            <hr class="my-4">
            <p class="lead">
                <a asp-controller="Movie" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Movie</a>
            </p>
        </div>}*@



